.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
   display: flex;
   align-items: center;
   gap: 10px;
}

.nav-logo p{
    color: rgb(128, 69, 183);
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    color: rgb(75, 75, 75);
    font-size: 20px;
    font-weight: 500;
    gap: 30px;
    cursor: pointer;
}

.nav-menu a{
    text-decoration: none;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
   width: 150px;
   height: 60px;
   /* outline: none; */
   border: 1px solid black;
   border-radius: 70px;
   color: rgb(255, 255, 255);
   font-size: 17px;
   font-weight: 500;
   background: rgb(2, 2, 192);
   cursor: pointer;
}

.nav-menu hr{
    border: none;
    background: red;
    width: 80%;
    height: 3px;
    border-radius: 10px;
}

.nav-login-cart button:active{
    background: rgb(78, 86, 226);
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: red;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: -55px;
}
